<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerIp" value="xx.xx.xx.xx" />
    <add key="ServerPort" value="22" />
    <add key="UserName" value="user" />
    <add key="Password" value="password" />
    <add key="Prefix" value="01" />
  </appSettings>
</configuration>