<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                   Microsoft.Practices.Unity.Configuration,
                   Version=1.2.0.0,
                   Culture=neutral,
                   PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <unity>
    <typeAliases>
      <!-- LifetimeManagerの定義 -->
      <typeAlias alias="singleton"
                 type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
                       Microsoft.Practices.Unity,
                       Version=1.2.0.0,
                       Culture=neutral,
                       PublicKeyToken=31bf3856ad364e35" />
      <typeAlias alias="external"
                 type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,
                       Microsoft.Practices.Unity,
                       Version=1.2.0.0,
                       Culture=neutral,
                       PublicKeyToken=31bf3856ad364e35" />
      <!-- 型の定義 -->
      <typeAlias alias="Type" type="System.Type" />
      <typeAlias alias="string" type="System.String" />
      <typeAlias alias="int" type="System.Int32" />
      <typeAlias alias="Uri"
                 type="System.Uri,
                       System,
                       Version=2.0.0.0,
                       Culture=neutral,
                       PublicKeyToken=b77a5c561934e089" />
      <!-- AssemblyQualifiedTypeNameConverterの定義 -->
      <typeAlias alias="TypeNameConverter"
                 type="Microsoft.Practices.Unity.Configuration.AssemblyQualifiedTypeNameConverter,
                       Microsoft.Practices.Unity.Configuration,
                       Version=1.2.0.0,
                       Culture=neutral,
                       PublicKeyToken=31bf3856ad364e35" />
    </typeAliases>
    <containers>
      <container>
        <types>
        </types>
        <instances>
          <!-- svcファイルからWCFサービスを取得するためのベース名前空間名の設定 -->
          <add name="BaseNamespace" type="string" value="CalcWcfServiceApp" />
        </instances>
        <extensions>
          <!-- データコピー機能の設定-->
          <add type="Terasoluna.DataCopy.DataCopyExtension, Terasoluna" />
          <!-- WCFサービス管理機能の設定 -->
          <add type="Terasoluna.Server.ServiceModel.ServiceModelExtension,
               Terasoluna.Server.ServiceModel" />
        </extensions>
      </container>
    </containers>
  </unity>
</configuration>