<?xml version="1.0" encoding="utf-8"?>
<!-- WCFクライントの設定は、デザイン時に各業務のアセンブリで生成されたものをマージして、
     エントリポイントのプロジェクトのApp.conigに置いておく必要がある -->
<configuration>
  <!-- WCFの設定 -->
  <system.serviceModel>
    <!-- WCFトレースの設定 -->
    <!--<diagnostics>
      <messageLogging logEntireMessage="true"
                      logMalformedMessages="false"
                      logMessagesAtServiceLevel="true"
                      logMessagesAtTransportLevel="false"
                      maxMessagesToLog="3000"
                      maxSizeOfMessageToLog="200000"/>
    </diagnostics>-->
  </system.serviceModel>
  <!-- ログの設定 -->
  <system.diagnostics>
    <sources>
      <!-- Terasoluna.dllに存在するクラスのデフォルトログ -->
      <source name="Terasoluna" switchName="FrameworkLogSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="XMLLogFile"/>
          <add name="ConsoleLog"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <!-- Terasoluna.Windows.Forms.dllに存在するクラスのデフォルトログ -->
      <source name="Terasoluna.Windows.Forms" switchName="FrameworkLogSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="XMLLogFile" />
          <add name="ConsoleLog" />
          <remove name="Default" />
        </listeners>
      </source>
      <!-- CalcWinFormApp.exeに存在するクラスのデフォルトログ -->
      <source name="CalcWinFormApp" switchName="DefaultLogSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="XMLLogFile" />
          <add name="ConsoleLog" />
          <remove name="Default" />
        </listeners>
      </source>

      <!-- WCFトレースの設定 -->
      <!--<source name="System.ServiceModel"
        switchValue="Information, ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add name="WCFTraceLog" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="WCFTraceLog" />
        </listeners>
      </source>-->
    </sources>  
    <switches>
      <add name="FrameworkLogSwitch" value="Information" />
      <add name="DefaultLogSwitch" value="Verbose" />
    </switches>
    <sharedListeners>
      <!-- イベントログ -->
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="sample application" />
      <!-- コンソールログ(Verboseレベル) -->
      <add name="ConsoleLog" type="System.Diagnostics.ConsoleTraceListener">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose" />
      </add>
      <!-- ログファイル(Infomationレベル） -->
      <add name="LogFile" type="System.Diagnostics.TextWriterTraceListener" initializeData=".\Log.txt" traceOutputOptions="DateTime, ProcessId, ThreadId">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information" />
      </add>
      <!-- カンマ区切り形式ログファイル -->
      <add name="DelimitedLogFile" type="System.Diagnostics.DelimitedListTraceListener" delimiter="," initializeData=".\DelemitedLog.txt" traceOutputOptions="DateTime, ProcessId, ThreadId" />
      <!-- XML形式のログファイル -->
      <add name="XMLLogFile" type="System.Diagnostics.XmlWriterTraceListener" initializeData=".\XMLLog.svclog" traceOutputOptions="DateTime, ProcessId, ThreadId">
      </add>
      <!-- WCFトレース用 -->
      <add name="WCFTraceLog" type="System.Diagnostics.XmlWriterTraceListener" initializeData= ".\WcfClientTrace.svclog" />
    </sharedListeners>
  </system.diagnostics>
</configuration>