<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                   Microsoft.Practices.Unity.Configuration,
                   Version=1.2.0.0,
                   Culture=neutral,
                   PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <unity>
    <typeAliases>
      <!-- LifetimeManagerの定義 -->
      <typeAlias alias="singleton"
                 type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
                       Microsoft.Practices.Unity,
                       Version=1.2.0.0,
                       Culture=neutral,
                       PublicKeyToken=31bf3856ad364e35" />
      <typeAlias alias="external"
                 type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,
                       Microsoft.Practices.Unity,
                       Version=1.2.0.0,
                       Culture=neutral,
                       PublicKeyToken=31bf3856ad364e35" />
      <!-- AssemblyQualifiedTypeNameConverterの定義 -->
      <typeAlias alias="TypeNameConverter"
                 type="Microsoft.Practices.Unity.Configuration.AssemblyQualifiedTypeNameConverter,
                       Microsoft.Practices.Unity.Configuration,
                       Version=1.2.0.0,
                       Culture=neutral,
                       PublicKeyToken=31bf3856ad364e35" />
      <!-- 型の定義 -->
      <typeAlias alias="Type" type="System.Type" />
      <typeAlias alias="string" type="System.String" />
      <typeAlias alias="IInitializer[]" type="Terasoluna.Initialization.IInitializer[],
                      Terasoluna" />
      <typeAlias alias="IInitializer" type="Terasoluna.Initialization.IInitializer,
                      Terasoluna" />
      <typeAlias alias="SequenceInitializer" type="Terasoluna.Initialization.SequenceInitializer,
                      Terasoluna" />
      <typeAlias alias="IExceptionHandler" type="Terasoluna.ExceptionHandling.IExceptionHandler,
                      Terasoluna" />
    </typeAliases>
    <containers>
      <container>
        <types>
          <!-- アプリケーション起動・終了機能の設定-->
          <type type="IInitializer" mapTo="SequenceInitializer">
            <lifetime type="singleton" />
            <typeConfig>
              <property name="Initializers" propertyType ="IInitializer[]">
                <array>
                  <dependency name="LoadAssembliesFromDirectoryInitializer"/>
                </array>
              </property>
            </typeConfig>
          </type>
          <!-- 実行アプリケーションの各アセンブリをロードするInitializer
               画面遷移機能などアセンブリの分割に対応したカスタム属性情報の読み取りを実現する -->
          <type type="IInitializer" name="LoadAssembliesFromDirectoryInitializer"
                mapTo="Terasoluna.Windows.Forms.Initializers.LoadAssembliesFromDirectoryInitializer,
                       Terasoluna.Windows.Forms" >
            <lifetime type="singleton" />
          </type>

          <!-- クライアントエラーハンドリング機能の設定 -->
          <!-- AppDomain.CurrentDomain.UnhandledExceptionイベントのポリシー -->
          <type type="IExceptionHandler" name="AppDomainUnhandledFailure"
                mapTo="Terasoluna.Windows.Forms.ExceptionHandling.DefaultExceptionHandler,
                       Terasoluna.Windows.Forms" >
            <lifetime type="singleton" />
          </type>
          <!-- Application.ThreadExceptionイベントのポリシー -->
          <type type="IExceptionHandler" name="ApplicationThreadFailure"
                mapTo="Terasoluna.Windows.Forms.ExceptionHandling.DefaultExceptionHandler,
                       Terasoluna.Windows.Forms" >
            <lifetime type="singleton" />
          </type>
          <!-- 初期化処理失敗による例外発生時のポリシー -->
          <type type="IExceptionHandler" name="InitializationFailure"
                mapTo="Terasoluna.Windows.Forms.ExceptionHandling.InitializationExceptionHandler,
　                     Terasoluna.Windows.Forms" >
            <lifetime type="singleton" />
          </type>
          <!-- 終了処理失敗による例外発生時のポリシー -->
          <type type="IExceptionHandler" name="TerminationFailure"
                mapTo="Terasoluna.Windows.Forms.ExceptionHandling.TerminationExceptionHandler,
　                     Terasoluna.Windows.Forms" >
            <lifetime type="singleton" />
          </type>
        </types>
        <!-- 起動画面の設定 -->
        <instances>
          <add name="StartFormType" type="Type"
               value="CalcBusinessApplication.View.LoginView, CalcBusinessApplication"
               typeConverter="TypeNameConverter"/>
        </instances>
        <extensions>
        </extensions>
      </container>
    </containers>
  </unity>
</configuration>